.todoList-deleteTaskForm button {
    margin-right: 5px;

    cursor: pointer;
    border: none;
    border-radius: 3px;
    outline: none;
    background: none;
}

.todoList-deleteTaskForm button:hover {
    font-weight: bold;

    color: blue;
    background-color: rgba(255, 214, 204, .73);
}
