.todoList-footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.todoList-footer > div {
    height: 25px;
    border: 1px solid #575757;
    border-radius: 15px;
}

.todoList-footer button {
    min-width: 50px;
    height: 25px;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: transparent;
}

.todoList-footer button:hover {
    transform: scale(1.15);
    border-radius: 15px;
}

.todoList-footer span {
    margin: 15px;
    cursor: pointer;
}

.todoList-footer span:hover {
    transform: scale(1.1);
}

.filter-active {
    font-weight: bold;
}
