.todoList-header {
    padding: 5px 15px;
    max-height: 50px;
    display: flex;
    justify-content: space-between;
}

.todoList-header__title {
    display: inline;
}

.todoList-header input {
    border: none;
    outline: none;
    height: 16px;
    padding: 5px 12px;
    border-radius: 5px;
}
