.header {
    position: fixed;

    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    height: 40px;

    color: white;
    background-color: rgba(0, 0, 0, .32);
}

.main {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.error {
    line-height: 32px;

    overflow: hidden;
    align-items: center;

    height: 32px;
    margin: 0 30px;
    padding: 0 15px;

    white-space: nowrap;
    text-overflow: ellipsis;

    color: white;
    border-radius: 5px;
    background-color: #eb5a46;
}

.logout {
    width: 60px;
    height: 32px;
    margin: 0 50px 0 15px;

    cursor: pointer;

    color: #fff;
    border: none;
    border-radius: 5px;
    outline: none;
    background-color: hsla(0, 0%, 100%, .3);
}

.logout:hover {
    background-color: hsla(0, 0%, 100%, .2);
}
