.login {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    height: 100vh;
}

.info {
    width: 300px;
    margin: 15px;
    padding: 10px;

    text-align: center;

    border-radius: 5px;
    background-color: #ebecf0;
    box-shadow: 1px 3px 3px rgba(9, 30, 66, .25);
}

.info p {
    font-size: 17px;
    margin: 1px auto;
}

.input {
    height: 25px;
    margin: 5px;
    padding: 5px 12px;

    border: none;
    border-radius: 5px;
    outline: none;
    box-shadow: 1px 3px 3px rgba(9, 30, 66, .25);
}

.checkbox {
    height: 25px;
    margin: 5px;

    color: white;
    background-color: rgba(0, 0, 0, .8);
    box-shadow: -3px 0 0 rgba(0, 0, 0, .8), 3px 0 0 rgba(0, 0, 0, .8);
}

.button {
    font-size: 17px;
    font-weight: bold;

    width: 111px;
    height: 32px;
    margin: 5px;

    cursor: pointer;

    color: #fff;
    border: none;
    border-radius: 5px;
    outline: none;
    background-color: #5aac44;
}

.button:hover {
    background-color: #6ecb50;
}
