.todoList-task {
    width: 260px;
    margin: 5px;
    min-height: 35px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 1px 0 rgba(9, 30, 66, .25);
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.todoList-task > div {
    align-self: center;
}

.todoList-task:hover {
    background-color: #c4d9c7;
}

.editMode {
    width: 250px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.editMode input {
    margin: 5px;
    background-color: #ebecf0;
    border: none;
    outline: none;
    padding: 4px;
    border-radius: 5px;
    text-align: center;
}

.editMode span {
    margin: 5px;
}

.editMode button {
    background-color: #5aac44;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    width: 70px;
    margin: 5px;
    border-radius: 5px;
}

.editMode button:hover {
    background-color: #6ecb50;
}

.taskInfo {
    display: flex;
    flex-direction: column;
}

.taskInfo > div {
    display: flex;
    align-items: center;
}

.taskTitle {
    word-break: break-all;
    margin: 4px 3px 9px 5px;
}

.priorityStyle {
    height: 8px;
    margin: 4px 0 2px 10px;
    border-radius: 4px;
}

.priorityStyle1 {
    width: 40px;
    background-color: #4073bb;
}

.priorityStyle2 {
    width: 55px;
    background-color: #61bd4f;
}

.priorityStyle3 {
    width: 70px;
    background-color: #f2d600;
}

.priorityStyle4 {
    width: 85px;
    background-color: #ff9f1a;
}


.priorityStyle5 {
    width: 100px;
    background-color: #eb5a46;
}

.todoList-task.done {
    opacity: .5;
}