.todoList-task {
    width: 260px;
    margin: 5px;
    min-height: 35px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 1px 0 rgba(9, 30, 66, .25);
    display: flex;
    justify-content: space-between;
}

.todoList-task > div {
    align-self: center;
}

.todoList-task:hover {
    background-color: #c4d9c7;
}

.todoList-task.done {
    opacity: .5;
}