.todoList-task {
    width: 260px;
    margin: 5px;
    min-height: 35px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 1px 0 rgba(9, 30, 66, .25);
    display: flex;
    justify-content: space-between;
}

.todoList-task > div {
    align-self: center;
}

.todoList-task:hover {
    background-color: #c4d9c7;
}

.editMode {
    width: 250px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.editMode input {
    margin: 5px;
    background-color: #ebecf0;
    border: none;
    outline: none;
    padding: 4px;
    border-radius: 5px;
    text-align: center;
}

.editMode span {
    margin: 5px;
}

.editMode button {
    background-color: #5aac44;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    width: 70px;
    margin: 5px;
    border-radius: 5px;
}

.editMode button:hover {
    background-color: #6ecb50;
}

.todoList-task.done {
    opacity: .5;
}